
<div class="banner">
  <div class="container">
    <div class="logo"></div>
    <%= link_to "Add a cocktail", new_cocktail_path %>
  </div>
  
</div>
 
<div class="cards">

    
            
                <% @cocktails.each do |cocktail| %>
                <div class="flat-card">
                <div class="img-card"></div>
                
                    <h2><%= "#{cocktail.name}" %></h2> 
                    <%= link_to "Voir",  cocktail_path(cocktail.id) %> <%= link_to "Edit", new_cocktail_dose_path(cocktail.id) %>
                
                </div>
                <% end %>
            
        
</div>